* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #efefef;
	text-shadow: 2px 2px 25px #000000;
	background: 
		linear-gradient(
			rgba(7, 16, 12, 0.75),
			rgba(0, 58, 35, 0.45)
		),
		url(https://data.whicdn.com/images/139490667/large.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;		
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	width: 75%;	
}

.overview{
	padding: 3rems;
}

.fullname{
	font-family: 'Homemade Apple', cursive;
	font-weight: bolder;
	letter-spacing: 3px;
	margin-bottom: .5rem;
}

.job-title{
	color: #FF0000;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1rem;
	margin-bottom: 1rem;
	font-weight: bolder;
	font-family: 'Shadows Into Light', cursive;
}

hr	{
	width: 5rem;
	border: none;
	height: 2px;
	background-color: #00bcd4;
	margin: 1.5rem 0;
}

.description {
	font-family: 'Shadows Into Light', cursive;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height:1.75;
}

.works {
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.works h2 {
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
	font-family: 'Shadows Into Light', cursive;
}

.works img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
}

.social-media a {
	color: #efefef;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
	text-decoration: none;
}

.social-media a:hover {
	opacity: 1;
}

.ad {
	margin: .5rem;
	font-size: 1rem;
	font-family: 'Shadows Into Light', cursive;
}

a {
	color: #9af1fc;
	text-decoration: none;
}

.image-container{
	width: 100%;
	padding: 3rem;
}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	display: block;
}

@media (max-width: 980px) {
	.container {
		flex-direction: column;
	}

	.image-container {
		width: 100%;
		padding: 3rem 0 0;
	}

	.overview {
		order: 1;
		padding: 3rem 0;
	}

	main {
	background: 
		linear-gradient(
			rgba(17, 255, 222, 0.45),
			rgba(0, 88, 255, 0.45)
		),
		url(https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	}

	.fullname,
	.job-title {
		text-align: center;
	}

	.job-title {
		font-weight: bolder;
	}
	.description {
		text-align: center;
	}

	hr {
		margin: auto;
	}

	.social-media {
		text-align: center;
		margin-top: 3rem;
	}

	.ad,
	.works {
		text-align: center;
	}
}